.task-container {
  width: 100%;
  text-align: center;
}

.task-container input{
  text-align: center;
}
.task-container label{
  font-size: 2.5em;
  display: inline;
}

#task-date-picker {
  font-size: 3em;
}

.task {
  margin:5px 0;
  text-align: left;
}

.tasks {
  height: 80vh;
  overflow-y: scroll;
}

.task-options {
  margin: auto;
  text-align: center;
}

.create-btn button {
  color: white;
  font-size: 2.5em;
  padding: 10px;
}
/*--------------------Side bar----------------------*/
.task-chart text{
  font-size: 0.8em;
}
.task-chart rect{
  width:30px;
}
.task-chart .y{
  display: none;
}

.task-chart {
  color: #3F51B5;
  text-align: center;
}

.progress-meter {
  background-color: #3F51B5;
  text-align: center;
  color: #FFF;
}

.meter {
  fill: #FFF;
}

.meter:hover {
  fill: #263238;
}
