.no-user-selected {
  text-align: center;
  margin-top: 20%;
  color: #455A64;
}

.no-user-selected i {
  font-size: 10em;
  margin-bottom: 20px;
}

/*-----------------Chat Box Container-------------------*/
.conversation {
  height: 100vh;
  padding-bottom: 5px;
}
.contact-name {
  font-size: 1.4em;
  color: #008A7D;
  vertical-align: middle;
}

.messages {
  text-align: left;
  height: 62vh;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: #ecf3f9;
}

.messages ul {
  padding: 0 10px 0 40px;
  list-style-type: none;
}

.message {
    background: #B9ECF4;
    border-radius: 5px;
    box-shadow: 0 0 6px #B2B2B2;
    position: relative;
    display: block;
    padding: 10px 16px;
    text-align: left;
    margin: 20px 0 10px;
    width: 60%;
    float: left;
}

.message::before {
  background: #B9ECF4;
  content: '\00a0';
  display: block;
  height: 16px;
  position: absolute;
  top: 70%;
  transform:             rotate( 29deg ) skew( -35deg );
      -moz-transform:    rotate( 29deg ) skew( -35deg );
      -ms-transform:     rotate( 29deg ) skew( -35deg );
      -o-transform:      rotate( 29deg ) skew( -35deg );
      -webkit-transform: rotate( 29deg ) skew( -35deg );
  width:  20px;
}

.sent {
  background: #008A7D;
  color: #FFF;
  text-align: right;
  margin: 20px 45px 10px 20px;
  float: right;
}

.sent::before {
  background-color: #008A7D;
  box-shadow: 2px -2px 2px 0 rgba( 178, 178, 178, .4 );
  right: -9px;
}

.receive::before {
  box-shadow: -2px 2px 2px 0 rgba( 178, 178, 178, .4 );
  left: -9px;
}

/*-----------------Send Message Container-------------------*/
.send-message {
  height: auto;
}

.send-message-field {
  width: 80%;
}

.send-btn {
  margin-top: 8%;
}

/*----------------Side Bar --------------------------------*/
.search-container {
  text-align: left;
  background-color: #008A7D;
  padding:12px 0;
  font-size: 1.2em;
}

.search-field {
  background-color: #FFF;
  width: 94%;
  position: relative;
  margin: auto;
  border: none;
  padding: 3px 6px;
}

.search-field input {
  border: none;
}

.search-field input:focus {
  outline-offset: 0;
  outline: none;
}

.search-field i {
  vertical-align: middle;
  color: #AAA;
}

@media only screen and (max-width: 768px) {
  .messages {
    height: 56vh;
  }
  .conversation {
    height: 98vh;
  }
  .send-btn {
    margin-top: 1%;
  }
}
